.homepage {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 25vh;
    color: white;
    background-color: rgba(49, 49, 49, .5);
}

.title {
    font-size: clamp(4rem, 12vw, 12rem);
    font-weight: normal;
    margin-top: .25em;
    font-family: 'IceCreamParty';
}

.subtitle {
    font-size: clamp(2rem, 6vw, 4rem);
    margin-bottom: 1em;
    font-family: 'IceCreamParty';
    text-align: center;
}

