@font-face {
    font-family: 'IceCreamParty';
    src: url('../assets/IceCreamParty.ttf') format('truetype');
}

@font-face {
    font-family: 'IceCreamPartySolid';
    src: url('../assets/IceCreamPartySolid.ttf') format('truetype');
}

* {
    font-family: 'IceCreamParty';
    overflow: clip;
}

.image {
    position: absolute;
    top: 0;
    z-index: -1;
    object-fit: cover;
    object-position: 50% 50%;
    height: 100vh;
    width: 100vw;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(49, 49, 49, .5);
}

button {
    font-size: clamp(1.5rem, 4vw, 3rem);
    background: none;
    border: none;
    color: white;
    margin: 0 2vw;
    padding: 5px 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: scale 200ms;
}

button:hover,
button:focus {
    border-top: 2px solid white;
    outline: none;
}

.currentPage {
    border-bottom: 2px solid white;
}